/* =================================
Flexbox
==================================== */

.logotop{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
}

.wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}



.container2 {
	display: flex;
	flex-wrap: wrap;

	

}
