/* =================================
Page Styles
==================================== */
* {
	box-sizing: border-box;
}
body {
	font-size: 1.35em;
	font-family: 'verdana', sans-serif;
	background: #fff;
	padding-left: 5%;
	padding-right: 5%;
}
.container {
	padding-top: 0;
	background: #87CEFA;
	border-radius: 5px;
	margin: 45px auto;
	border-radius: 3px;
	
}

figure p img figcaption {
	display: inline-flex;
}



.title_c{
	text-align: center;
}

.avatar, .rounded{
	border-radius: 20%;
}

a{
	text-decoration: none;
}

/*==================================================
AFFICHER INFO APPRENANTS
====================================================*/

.expando {
	display: none;
}
.expando:target {
	display: block;

}
.btshow {
	display: block;
}
.btshow:target{
	display: none;
}

/*=====================================================
---------------------------------------------
========================================================*/
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.rb{
	content:'';
	display: inline-flex;
	margin: 0;
	padding: 0;
	text-decoration: none;
	flex-direction: column;
	
	
	
	
}

.surprise{
	align-content: center;
	color: #fff;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 5px;
	padding: 5px;
	border: solid 2px #B0C4DE;
	font-size: .9em;
	background-color: #000080;
	border-radius: 5px;
	clear: both;

}

.surprise p > a{

	font-size: 1em;
	color: red;
}



/*=======================================================================
------------------Selectors------------------------------------------
==========================================================================*/
 a {
	font-size: .7em;
}

.expando > li, a{
	font-size: .8em;
}




	
}

.group:after{
	content: "";
	display: table;
	clear:both;
}

/*

header{
	grid-auto-flow: all;
	margin: 0 0 40px 0;
	padding: 10px 0 0 0;
	width: 100%

nav{
	text-align: center;
	padding: 10px 0;
	margin: 25px 0 0;
}

nav ul{
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li{
	font-size: 1em;
	display: inline-block;
}

nav a{
	font-size: 1em;
	padding: 15px 10px;
}*/

footer{
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: red;
}
/*=======================================================================
------------------MEDIA QUERIES------------------------------------------
==========================================================================*/

.feat-img{
	width: 100px;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 5px;
	padding: 5px;
	border: solid 2px #000080;
}

